.chanl-head {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #d5d5d5;
    background: #545652;
}
.white {
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.white a {
    border-right: 1px solid #f1f1f1;
}
.chanl-head .flleft {
    overflow: hidden;
    margin-left: 20px;
}
.chanl-head li {
    float: left;
}
.chanl-head .logo {
    height: auto;
    margin: 0;
    padding: 0;
    border: medium none;
}
.chanl-head img {
    display: block;
    margin-top: 10px;
    margin-right: 50px;
}
.chanl-head a, .chanl-head span {
    display: block;
    height: 12px;
    margin-top: 14px;
    padding: 0 11px;
    line-height: 12px;
    color: #888;
    text-decoration: none;
}
.chanl-head .hospital-deatail-search{
	position: relative;
    float: left;
    margin-top: 4px;
    border: 1px solid #ededed;
    background: #fff;
}
.chanl-head .hospital-deatail-search  .search-box {
    height: 28px;
}
.chanl-head .hospital-deatail-search .search-box .search {
    display: block;
    float: left;
    width: 200px;
    height: 20px;
    padding: 4px 8px;
    line-height: 20px;
    color: #999;
    border: none;
    outline: none;
}
.chanl-head .hospital-deatail-search .search-box .search-btn {
    display: block;
    float: left;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    border: none;
    border-left: 1px solid #e6e6e6;
    background: url(../images/search-icon.png) no-repeat -3px -3px;
}
/* header detail */
.header-detail-hpt {
    position: relative;
    z-index: 1;
    clear: both;
    height: 164px;
    background: url(../images/head-bj.jpg) no-repeat top center;
}
.header-detail-hpt .hospital-img{

    
}
.header-hpt-main{
	padding: 22px 0;
}
.header-detail-hpt .hospital-img img{
	display: block;
    border-radius: 50%;
    border: 4px solid #6c6a69;
}
.header-detail-hpt .hospital-data {
    height: 142px;
    color: #fff;
}
.header-detail-hpt .hospital-data .data-name {
    height: 20px;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    color: #fff;
}
.header-detail-hpt .hospital-data .data-text {
    margin-top: 9px;
    font-size: 13px;
    line-height: 20px;
}
.header-detail-hpt .hospital-data p{
	color: #fff;
}
.header-detail-hpt .hospital-data .data-lv {
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
}
.header-detail-hpt .hospital-data .data-lv span {
    position: relative;
}

.header-hpt-main .collection{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 62px;
    height: 53px;
    text-align: center;
}
.header-hpt-main .collection .collec-bck{
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: .25s;
    opacity: .14;
    border-radius: 0 0 4px 4px;
    background: #000;
}
.header-hpt-main .collection p{
    position: relative;
    z-index: 1;
    width: 16px;
    height: 14px;
    margin: 10px auto 0 auto;
    background: url(../images/hospital-v3.png) no-repeat;
}
.header-hpt-main .collection div {
    position: relative;
    height: 14px;
    margin-top: 4px;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}
.header-hpt-main .act-head{
    position: absolute;
    bottom: 20px;
    right: 0; 
}

.header-hpt-main .act-head a{
    display: block;
    float: left;
    padding: 0 28px;
    font-size: 14px;
    border-radius: 18px;
    padding: 10px 20px;
    text-align: center;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 2px;
    z-index: 11;
    cursor: pointer;
    font-weight: 500;
    min-width: 120px;
}
.header-hpt-main .act-head a.advisory{
    color: #ff5370;
    background: #fff;
    margin-right: 12px;
}
.header-hpt-main .act-head a.apoment{
    color: #fff;
    background: #ff5370;
}
.header-hpt-main .act-head a.apoment i{
    display: inline-block;
    width: 16px;
    position: relative;
    top: 4px;
    left: -8px;
    height: 17px;
    background: url(../images/zixun.gif) no-repeat -18px -18px;
}
.menu-hospital-detail{
    position: relative;
    padding-top: 20px;
}
.menu-hospital-detail:before{
    content: "";
    background: #e8e8e8;
    height: 2px;
    width: 100%;
    position: relative;
    top: 49px;
    z-index: 100;
    display: block;
}

.menu-hospital-detail ul.list-parent > li.nav-item{
    display: inline-block;
    line-height: 20px;
    color: #666;
    white-space: nowrap;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-left: 1px solid #ddd;

}
.menu-hospital-detail ul.list-parent > li.nav-item.active a{
    border-bottom: 2px solid #ff5370;
    color: #ff5370;
    padding-bottom: 37px;
}
.menu-hospital-detail ul.list-parent > li:first-child {
   border-left: none;
}
.menu-hospital-detail li.nav-item > a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: #666;
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    display: block;
    height: 18px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 18px;
    padding: 0 15px;
}
.menu-hospital-detail li.nav-item > a:hover{
    color: #ff5370;
}

.menu-hospital-detail .slide-box > li span {
    position: absolute;
}

.schInHos {
    position: relative;
    font-size: 14px;
    line-height: 32px;
    border: 2px solid #ffa5b3;
    display: inline-block;
}
.menu-hospital-detail #search-hospital-detail{
    position: relative;
    width: 250px;
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
    color: #999;
    border: none;
    background: #fff;
}

.menu-hospital-detail .subBtn{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 62px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #ffa5b3;
}

.hospital-section{
    border: 1px solid #e8e8e8;
    padding: 19px 40px 25px 40px;
    margin-bottom: 40px;
    margin-top: 50px;
}
.hospital-section .title {
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 18px;
    color: #333;
}
.hospital-section .notice {
    margin-top: 6px;
    font-size: 13px;
    line-height: 23px;
    color: #666;
}
.hospital-section .notice a{
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
.hospital-section .notice a:hover{
    color: #ff5370;
}
.main-tit {
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    color: #333;
}

.recommend-section {
    height: 500px;
}
.recommend-section .owl-carousel {
   padding: 30px 0;
}
.recommend-list .item .infoImg img {
    display: block;
    height: 100%;
}

.recommend-list .item{
    border: 1px solid #e8e8e8;
    position: relative;
    height: 438px;
    border: 1px solid #e8e8e8;
}
.recommend-list .item  a{
    text-decoration: none;

}
.recommend-list .infoImg {
    display: block;
    position: relative;
    height: 288px;
    overflow: hidden;
}

.recommend-list .infoTxt{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding: 24px 14px 24px 14px;
    background: #fff;
}

.recommend-list .babyInfo .infoTit2 , .service-cont .babyInfo .infoTit2{
    position: relative;
    height: 28px;
    margin-top: -2px;
    line-height: 28px;
}
.recommend-list .babyInfo .infoTit2 span , .service-cont .babyInfo .infoTit2 span {
    position: relative;
    font-family: 'Arial';
    font-size: 28px;
    font-weight: bold;
    vertical-align: bottom;
}
.recommend-list .babyInfo .infoTit2 .return-money, .service-cont .babyInfo .infoTit2 .return-money{
    position: absolute;
    top: 1px;
    right: 0;
    display: inline-block;
    height: 20px;
    padding: 0 4px;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    border-radius: 2px;
    background: #ffbc46;
}
.recommend-list .babyInfo .info-bottom, .service-cont .babyInfo .info-bottom {
    overflow: hidden;
    height: 14px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    color: #999;
}

.recommend-section .owl-dots{
    text-align: center;
    margin-top: 5px;
}

.recommend-section .owl-dots .owl-dot{
    background: #ccc;
    height: 10px;
    width: 10px;
    margin: 5px;
    border-radius: 5px;
    transition: width 1s ease-in-out;
}


.recommend-section .owl-dots .owl-dot.active{
    background: #ff5370;
    height: 10px;
    width: 20px;
    margin: 5px;
    border-radius: 5px;
    transition: width 1s ease-in-out;
}

.recommend-section .owl-nav{
    top: 245px
}
.recommend-section .owl-carousel .owl-prev {
    position: absolute;
    font-size: 30px !important;
    border: none !important;
    width: 25px;
    height: 58px;
    top: 0;
    left: 0px;
    background: #6c757da6 !important;
}

.recommend-section .owl-carousel .owl-next {
    position: absolute;
    font-size: 30px !important;
    border: none !important;
    width: 25px;
    height: 58px;
    top: 0;
    right: 0;
    background: #6c757da6 !important;
}

.recommend-section .owl-carousel .owl-nav span {
    padding: 0;
    line-height: 0;
    position: relative;
    top: -5px;
    color: #fff;
    outline: none;
}
.service-cont .item{
    border: 1px #ddd solid;
    margin-top: 30px;
}
.service-cont img{
    width: 100%;
}

.service-cont .babyInfo a{
    text-decoration: none;
}

.service-cont .babyInfo{
    padding: 10px;
}
.service-cont .babyInfo a{
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
}
.service-cont .title{
    color: #666;
    margin-bottom: -15px;
}
.more-link{
    text-align: center;
}
.more-list{
    color: #666;
    text-decoration: none;
    border: 1px #ccc solid;
    padding: 5px 20px;
    border-radius: 20px;
    height: 38px;
    display: inline-block;
    text-decoration: none;
}

.service-cont .more-link{
    margin-top: 30px;
}

.diary-best .item{
    margin-top: 10px;
}
.diary-best img{
    width: 100%;
}
.diary-best .img-1{
    float: left;
    display: inline-block;
    width: 50%;
    position: relative;
}

.diary-best .img-2{
    float: right;
    display: inline-block;
    width: 50%;
    position: relative;
}

.diary-best .bottom{
    padding: 10px;
    clear: both;
}
.more-link a{
    text-decoration: none;
}
.more-link a:hover{
    color: #ff5370;
    display: inline-block;
    border: 1px #ff5370 solid;
}

.diary-best a{
    border: 1px #ddd solid;
    text-decoration: none;
    color: #666;
    display: inline-block;
}


.diary-best .img-1 .icon{
    position: absolute;
    z-index: 1;
    bottom: 4px;
    left: 0;
    width: 60px;
    height: 28px;
    background: #3e3d3da1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 8px;
    color: #fff;
}


.diary-best .img-2 .icon{
    position: absolute;
    z-index: 1;
    bottom: 4px;
    left: 0;
    width: 60px;
    height: 28px;
    background: #dc354599;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 8px;
    color: #fff;
}

.diary-best{
    margin-top: 30px;
}

.hb-item{
    clear: both;
    margin-top: 20px;
    background: #fff4eb;
    padding: 10px;
}

.hb-item>p b ,.hb-item>p i {
    font-family: Arial;
    font-size: 44px;
    font-weight: bold;
    color: #ff5000;
}

.hb-item>p b{
    font-size: 38px;
}

.hb-item>p i {
    font-size: 13px;
    position: relative;
    top: -16px;
}
.hb-item>p span{
    font-size: 12px;
    color: #ff5000;
    border: 1px #ff5000 solid;
    padding: 0px 5px;
    height: 22px;
    display: inline-block;
    position: relative;
    top: -8px;
}
.getNow{
    background: #ff5000;
    color: #fff;
    text-align: center;
    border-top: 9px dotted #fff4eb;
    font-size: 19px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.getNow:before{
    content: "";
    width: 100%;
    display: block;
    background: #fff4eb;
    height: 8px;
    position: relative;
    top: -12px;
}

.hb-item .c-666{
    display: block;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;color: #666;
}

.hb-item{
    font-size: 14px;
    color: #999;
}

.magin-top-30{
    margin-top: 30px;
}

.btn-voucher{
    display: block;
    margin-top: 20px;
    text-align: center;
}

.btn-voucher .more{
    color: #ff5000;
    text-decoration: none;
    border: 1px #ccc solid;
    padding: 5px 20px;
    border-radius: 20px;
    height: 38px;
    display: inline-block;
    text-decoration: none;
}
.btn-voucher .more:hover{
    border: 1px #ff5000 solid;
    background: #ff5000;
    color: #fff;
    transition: .2s;
}

.right-section {
    margin-bottom: 24px;
    padding: 24px 0;
    border: 1px solid #e8e8e8;
}

.right-tit {
    height: 16px;
    padding-left: 17px;
    font-size: 16px;
    line-height: 16px;
    color: #333;
    border-left: 4px solid #ff6980;
}

.right-section .introduction-text {
    margin: 18px 20px 0 20px;
    font-size: 12px;
    line-height: 24px;
    color: #666;
}
.right-section .address-text {
    padding: 10px 22px;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}
.right-image-banner{
    border: none;
}

.right-image-banner img {
    display: block;
    max-width: 100%;
}

.doctor-cont a{
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
.doctor-list .doctor-img{
    width: 35%;
    float: left;
}

.doctor-list .doctor-img img {
    border-radius: 50%;
    width: 100%;
}

.doctor-list .right {
    width: 65%;
    float: right;
    padding-left: 15px;
    margin-top: 15px;
}

.doctor-list>.right .right-name {
    font-size: 15px;
    line-height: 17px;
    color: #333;
}

.doctor-list>.right .right-lv {
    margin: 7px 0 10px 0;
}

.doctor-list>.right .right-lv,
.doctor-list>.right .right-number {
    font-size: 12px;
    line-height: 14px;
    color: #999;
}

.right-section .more-doctor {
    display: inline-block;
    margin: 0 auto;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
    color: #666;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    padding: 0px 40px;
}

.right-section .more-doctor:hover {
    color: #ff5370;
    border-color: #ff6980;
}
.doctor-cont{
    margin-top: 10px;
}
.right-section{
    margin-top: 30px;
}
.list-doctor{
    display: block;
    text-align: center;
}
.list-doctor a{
    text-decoration: none;
}

/** pop counselling **/
.fixed-slide {
    position: fixed;
    z-index: 9999;
    top: 50%;
    right: 50%;
    width: 50px;
    margin-right: -670px;
    border: 1px solid #e8e8e8;
    background: #fff;
}
.fixed-slide>a {
    position: relative;
    z-index: 0;
    display: block;
    padding: 10px 0;
    text-decoration: none;
}
.fixed-slide>a:hover {
    background: #f8f8f8;
}
.fixed-slide .slide-right div {
    display: block;
    width: 26px;
    height: 28px;
    margin: 0 auto;
    background: url(../images/zixun.gif) no-repeat -14px -94px;
}
.fixed-slide .slide-right p {
    display: block;
    width: 26px;
    margin: 0 auto;
    padding-top: 1px;
    font-size: 12px;
    line-height: 14px;
    color: #666;
}
.fixed-slide .show-cont {
    position: absolute;
    z-index: 1;
    top: -1px;
    right: 48px;
    display: none;
    width: 190px;
    border: 1px solid #e8e8e8;
    background: #fff;
}
.fixed-slide .show-cont .hospital-name {
    padding: 16px 16px 0 16px;
    font-size: 12px;
    line-height: 18px;
    color: #333;
}
.fixed-slide .show-cont .call-me-btn, .fixed-slide .show-cont .wx-me-btn {
    display: block;
    width: 106px;
    height: 30px;
    margin: 13px auto 18px auto;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background: #ff5370;
}
.fixed-slide .show-cont .data-list {
    padding: 15px 16px 13px 16px;
    font-size: 12px;
    line-height: 18px;
    color: #333;
    border-top: 1px solid #e8e8e8;
}
.fixed-slide .show-cont .data-list div {
    font-weight: bold;
}
.fixed-slide .go-top {
    display: none;
    cursor: pointer;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    opacity: .8;
    border-top: 1px solid #e8e8e8;
    filter: Alpha(opacity=80);
}
.fixed-slide .go-top div {
    display: block;
    width: 20px;
    height: 20px;
    margin: 16px auto;
    background: url(../images/hospital-v3.png?v=1) no-repeat 0 -128px;
}

/* anothe diary of user list */
.qa-cont {
    overflow: hidden;
    margin-top: 16px;
    border-top: 1px solid #e8e8e8;
}
.qa-list-link {
    position: relative;
    display: block;
    zoom: 1;
    padding-top: 34px;
}
.qa-list-link:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
    content: '';
}
.qa-list-link:hover {
    background: #f8f8f8;
}
.qa-list-link>.left {
    width: 50px;
    margin-right: 22px;
    text-align: center;
}
.qa-list-link .infoImg, .qa-list-link .infoImg img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.qa-list-link .info-name {
    display: block;
    height: 14px;
    margin-top: 8px;
    font-size: 12px;
    line-height: 14px;
    color: #999;
}
.qa-list-link .info_cont {
    float: left;
    width: 856px;
    padding-bottom: 34px;
    border-bottom: 1px solid #e8e8e8;
}
.qa-list-link .info_tit2 {
    overflow: hidden;
    margin-top: 11px;
    margin-bottom: 11px;
    font-size: 13px;
    line-height: 19px;
    color: #333;
}
.qa-list-link .info_tit2 a {
    color: #333;
    text-decoration: none;
}
.qa-list-link .img_cont {
    display: block;
    overflow: hidden;
    height: 80px;
}
.qa-list-link .img_cont span, .qa-list-link .img_cont a {
    position: relative;
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.qa-list-link .img_cont img {
    display: block;
    width: 100%;
}
.qa-list-link .qa-labs {
    overflow: hidden;
    height: 14px;
    margin-top: 10px;
    padding-left: 12px;
    font-size: 0;
    line-height: 14px;
    color: #999;
    background: url(../images/docPC.png) no-repeat 0 -601px;
}
.qa-list-link .qa-labs span {
    padding-left: 6px;
    font-size: 12px;
}
.qa-list-link .qa-mark {
    height: 14px;
    margin-top: 20px;
    font-size: 0;
    line-height: 14px;
}
.qa-list-link .qa-mark .left {
    font-size: 12px;
    color: #999;
}
.qa-list-link .qa-mark .right {
    position: relative;
    margin-left: 13px;
    padding-left: 20px;
    font-size: 12px;
    color: #999;
}
.qa-list-link .qa-mark .right b {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 14px;
    background: url(../images/docPC.png)  no-repeat;
}
.qa-list-link .qa-mark .right i {
    font-family: Verdana;
    color: #bbb;
}
.more-diary{
    margin:30px 0;
}
.user-diary-boottom:hover{
    background-color: #f8f8f8;
}
 .dyn-bottom {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    color: #999;
}
.dyn-bottom>.bottom-right {
    float: right;
}