.menu-hospital{
    position: relative;
}
.menu-hospital:before{
    content: "";
    background: #ff5370;
    height: 2px;
    width: 100%;
    position: relative;
    top: 39px;
    z-index: 3000;
    display: block;
}
.menu-hospital .menu-left{
    display: none;
}

.menu-hospital .menu-left .part-slide-show {
    left: 100%;
    top: 39px;
    margin-left: -1px;
}

.menu-hospital ul.list-parent > li:hover .menu-left{
    display: block;
}

.menu-hospital .list-parent{
    list-style:  none;
    position: relative;
}

.menu-hospital ul.list-parent > li.nav-item{
    display: inline-block;
    line-height: 20px;
    color: #666;
    white-space: nowrap;
}

.menu-hospital li.nav-item > a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: #666;
    position: relative;
    margin-right: 15px;
}


.menu-hospital .slide-box > li span {
    position: absolute;
}

.menu-hospital ul.list-parent > li:first-child{
    width: 25%;
    position: absolute;
    z-index: 1000;
}

.menu-hospital ul.list-parent > li:nth-child(2){
    margin-left: 25%;
}

.menu-hospital .dropdown-item:focus, .menu-hospital .dropdown-item {
    padding: 7px 23px;
}
.menu-hospital .dropdown-item:focus, .menu-hospital .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #ff5370;
    color: #fff;
}

.menu-hospital .dropdown:hover>.dropdown-menu {
    display: block;
    top: 34px;
    z-index: 3000;
    border-radius: 0;
    padding: 0;
}

.breadcrumb{
    background: #fff;
}
.breadcrumb a{
    padding-right: 10px;
    text-decoration: none;
    color: #666;
    text-transform: capitalize;
}
.breadcrumb a:hover{
    color: #999;
}
.breadcrumb .left span{
    padding-right: 10px;
}
.tab-link-page #exTab1 ul {
    border: 1px #ccc solid;
}
.tab-link-page #exTab1 ul li{
    text-align: center;
    padding: 5px 15px;
    border-right: 1px #ccc solid;
    position: relative;
}
.tab-link-page #exTab1 ul li a{
    text-decoration: none;
    padding-left: 5px;
    text-transform: uppercase;
    color: #666;
}

.tab-link-page #exTab1 ul li:hover a, .tab-link-page #exTab1 ul li:hover i{
    color: #ff5370;
}


.tab-link-page #exTab1 ul li.active:before {
    content: "";
    background: #ffffff;
    height: 2px;
    width: 100%;
    bottom: -2px;
    position: absolute;
    left: 0;
}
.tab-link-page .tab-content .item {
    display: inline-block;
    border: 1px #ccc solid;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    width: 100%;
    position: relative;
}
.tab-link-page .tab-content .item  .pos-re{
    position: absolute;
    left: 100px;
}
.tab-link-page .tab-content .title{
    float: left;
    width: 60px;
    padding-right: 15px;
}

.tab-link-page .tab-content dl{
    display: inline-block;
    width: calc(100% - 60px);
}

.tab-link-page .tab-content dd{
    display: inline-block;
    width: calc(100% - 100px);
}

.tab-link-page .tab-content dt{
    float: left;
    width: 100px;
    padding-right: 15px;
}

.eachLink span{
    padding-right: 30px;
}

.tab-link-page .tab-content a{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    counter-reset: #666;
}

.tab-link-page .tab-content .now, .tab-link-page .tab-content a:hover{
    color: #ff5370;
}

.showMore{ z-index: 15; top: 0; float: left; overflow: hidden; width: 78px; max-height: 24px; margin-right: 15px; border: 1px solid #e0e0e0; background: #fff; }
.showMore:hover{ max-height: none; }
.showMore.money, .showMore.hosHb, .showMore.hos{
    min-width: 130px;
    display: block;
    position: relative;}
.showMore.origin{ width: 114px; }
.showMore span{ line-height: 24px; position: relative; display: block; padding: 0 9px; word-break: keep-all; font-family: "Font Awesome 5 Free";}
.showMore span::before{
    content:"\f0da";
    position: absolute;
    right: 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 0px;
}
.showMore:hover > span{ color: #ff5370; }
.showMore span.now{ color: #ff5370; }
.showMore:hover span::before{
    content:"\f0dd";
    position: absolute;
    right: 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: -3px;}
.showMore span:hover{ cursor: pointer; color: #ff5370; }
.showMore a{ line-height: 24px; display: block; margin-top: 3px; padding: 0 15px; word-break: keep-all; }
.showMore a:hover{ color: #ff5370; background: #f8f8f8; }
.showMore > div{ display: block; padding-bottom: 10px; }

.tab-link-page .tab-list{
    padding: 10px;
    border: 1px #ccc solid;
    display: inline-block;
    width: 100%;
}
.tab-link-page .tab-list .listIimg{
    padding-right: 10px;
    width: 15%;
    float: left;
}
.tab-link-page .tab-list {

}
.tab-link-page .tab-list  .listInfo{
    display: inline-block;
    width: 65%;
}
.tab-link-page .tab-list .contrast{
    float: right;
    width: 20%;
}