.menu-hospital{
    position: relative;
}
.menu-hospital:before{
    content: "";
    background: #ff5370;
    height: 2px;
    width: 100%;
    position: relative;
    top: 39px;
    z-index: 3000;
    display: block;
}
.menu-hospital .menu-left{
    display: none;
}

.menu-hospital .menu-left .part-slide-show {
    left: 100%;
    top: 39px;
    margin-left: -1px;
}

.menu-hospital ul.list-parent > li:hover .menu-left{
    display: block;
}

.menu-hospital .list-parent{
    list-style:  none;
    position: relative;
}

.menu-hospital ul.list-parent > li.nav-item{
    display: inline-block;
    line-height: 20px;
    color: #666;
    white-space: nowrap;
}

.menu-hospital li.nav-item > a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: #666;
    position: relative;
    margin-right: 15px;
}


.menu-hospital .slide-box > li span {
    position: absolute;
}

.menu-hospital ul.list-parent > li:first-child{
    width: 25%;
    position: absolute;
    z-index: 1000;
}

.menu-hospital ul.list-parent > li:nth-child(2){
    margin-left: 25%;
}

.menu-hospital .dropdown-item:focus, .menu-hospital .dropdown-item {
    padding: 7px 23px;
}
.menu-hospital .dropdown-item:focus, .menu-hospital .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #ff5370;
    color: #fff;
}

.menu-hospital .dropdown:hover>.dropdown-menu {
    display: block;
    top: 34px;
    z-index: 3000;
    border-radius: 0;
    padding: 0;
}

.breadcrumb{
    background: #fff;
}
.breadcrumb a{
    padding-right: 10px;
    text-decoration: none;
    color: #666;
    text-transform: capitalize;
}
.breadcrumb a:hover{
    color: #999;
}
.breadcrumb .left span{
    padding-right: 10px;
}
.tab-link-page #exTab1 ul {
    border: 1px #ccc solid;
}
.tab-link-page #exTab1 ul li{
    text-align: center;
    padding: 5px 15px;
    border-right: 1px #ccc solid;
}
.tab-link-page #exTab1 ul li a{
    text-decoration: none;
    padding-left: 5px;
    text-transform: uppercase;
    color: #666;
}